$color-white: #ffffff;
$color-grey-5: #ececec;
$color-grey-20: #c7c7c7;
$color-grey-90: #1d1d1d;
$global-spacing: 10px;
$ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);

// @shelf-version 1.0.0
$accordion-spacing: 2rem;
$accordion-icon-size: 32px;
$accordion-icon-size-small: 25px;
$accordion-item-border-color: rgba($color-grey-90, 0.2);
$accordion-item-border-color-hover: rgba($color-grey-90, 0.6);
$accordion-item-border-radius: 5px;
$accordion-item-header-padding: 20px $accordion-icon-size + 40px
20px 40px;
$accordion-item-content-padding: 0 40px 40px;
$accordion-item-content-padding-small: 10px 0 20px;
$accordion-transition-time: 200ms;
$accordion-transition-ease: ease-out;


@mixin content-visible {
  visibility: visible;
}

@mixin content-hidden {
  visibility: hidden;
}

@mixin keyboard-focus {
  .has--keyboard-focus & {
    &:focus {
      @content;
    }
  }
}

.c-accordion {
  margin-bottom: $accordion-spacing;
  counter-reset: accordion;
}

.accordion__detail {
  overflow: hidden;
  transition: height $accordion-transition-time $accordion-transition-ease;
  border-bottom: 2px solid $accordion-item-border-color;

  &[open]{
    border-color: #0033FF;
  }
}

.accordion__item-summary {
  font-weight: 500;
  position: relative;
  list-style: none;
  min-height: $accordion-icon-size;
  padding: $accordion-item-header-padding;
  margin-top: 10px;
  border-radius: $accordion-item-border-radius;
  cursor: pointer;
  transition: $accordion-transition-time $accordion-transition-ease $accordion-transition-time / 2;
  transition-property: border-radius;

  [open] & {
    border-radius: $accordion-item-border-radius $accordion-item-border-radius 0 0;
    transition: $accordion-transition-time $accordion-transition-ease;
    transition-property: border-radius;
  }

  &::-webkit-details-marker {
    display: none;
  }

  .accordion__detail:not([open]) &:hover {
    .accordion__item-icon {
      border-color: $accordion-item-border-color-hover;
    }
  }

  @include keyboard-focus {
    .accordion__item-icon {
      border-color: $accordion-item-border-color-hover;
    }
  }
}

.accordion__item-icon {
  border: 1px solid $accordion-item-border-color;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  height: $accordion-icon-size;
  width: $accordion-icon-size;
  line-height: 1;
  transition: $accordion-transition-time / 2 $accordion-transition-ease;
  transition-property: border;

  &::before {
    content: "";
    position: absolute;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    width: 15px;
    height: 2px;
    background-color: $accordion-item-border-color-hover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0;

    [open] & {
      background-color: #0033FF;
    }
  }

  &::after {
    content: "";
    position: absolute;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    height: 15px;
    width: 2px;
    background-color: $accordion-item-border-color-hover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0;

    [open] & {
      background-color: #0033FF;
      opacity: 0;
      visibility: hidden;
    }
  }



  [open] & {
    border-color: #0033FF;
  }
}

.accordion__item-content {
  padding: $accordion-item-content-padding;
  border-radius: 0 0 $accordion-item-border-radius $accordion-item-border-radius;

  .accordion--small & {
    padding: $accordion-item-content-padding-small;
  }

  p + p {
    margin-top: 15px;
  }
}

.accordion__item-sub-title {
  font-weight: 300;
  color: #7e7e7e;
}

.accordion__tab-list {
  flex: 0 0 30%;
  list-style: none;

  @media screen and (max-width: 1023px) {
    display: none;
  }

  // IE only fallback
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    display: none;
  }
}

.accordion__tab-button {
  display: block;
  width: 100%;
  text-align: left;
  padding: $accordion-item-header-padding;
  border-radius: $accordion-item-border-radius;
  cursor: pointer;
  transition: $accordion-transition-time $accordion-transition-ease $accordion-transition-time / 2;
}

.accordion__tab-contents {
  // IE only fallback
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    flex: 0 0 100%;
  }
}

.accordion__item-title {
  position: relative;

  &::before {
    counter-increment: accordion;
    content: counter(accordion)'.';
    position: absolute;
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 4px;
  }
}
