{#
    @shelf-version: 1.0.0
    Accordion macro
    Usage as a call, inject the accordion items there.

    Options:
        autoclose {boolean}     - Disable autoclose (optional)

    Item Options:
        id {string}             - Adds id for a11y reference
        open {boolean}          - Defaults open or closed
        title.default {string}  - Label for default state
        title.open {string}     - Label for open state
#}

{% macro default(data) %}

    <div class="c-accordion"
        {% if not data.autoclose %}data-autoclose="{{ data.autoclose }}"{% endif %}
        js-hook-accordion>

        {{ caller() }}

    </div>

{% endmacro %}

{% macro item(data) %}

  <details class="accordion__detail" id="{{ data.id }}" {%- if data.open %} open{% endif %} js-hook-accordion-detail>

    <summary class="accordion__item-summary" {%- if data.audioplayer %} aria-controls="audio-player-{{ data.audioplayer.id }}"{% endif%} js-hook-accordion-summary>
      <span class="u-flex u-flex-middle u-flex-between">
        <header class="accordion__item-title u-padding-right--sm">{{ data.title }}</header>
        <span class="accordion__item-icon"></span>
      </span>
    </summary>

      <div class="accordion__item-content" js-hook-accordion-content>
          {{ caller() }}
      </div>

    </details>

{% endmacro %}
