{% extends 'layouts/default.html' %}

{% block content %}
  {% from 'carousel.html' import carousel %}
  {% set data = contentNL %}

  <div class='landingpage'>
    <div class='c-intro u-wrapper spacer'>
      <div class='intro__headers mb-3'>
        <h1 class='intro__title heading heading medium text--primary u-margin-b'>{{ data.intro.title }}</h1>
        <h2 class='intro__subtitle heading heading--sans small u-margin-b'>{{ data.intro.subtitle }}</h2>
      </div>

      <div class='intro__banners d-flex1 mb-5'>

        <img
          src='https://cw-app-marketing.s3.amazonaws.com/assets/marketing/marketing/landing-pages/mobility/Topbanner1x.jpg'
          alt=''>
      </div>

      <div class="intro__anchors d-flex align-items-center justify-content-center mb-5">
        <ul class='d-flex flex-wrap u-flex-between'>
          {% for stickyLink in data.intro.stickyLinks %}
            <li><a href='#{{ stickyLink.id }}' class='intro__anchor-link c-button sharp-edge ghost medium'>{{ stickyLink.label }}</a></li>
          {% endfor %}
        </ul>
      </div>

      <div class='intro__short-description u-typography-h3'>
        {{ data.intro.shortDescription | safe }}
      </div>
    </div>

    <div id='block-1' class='c-perks u-wrapper spacer'>
      <h2 class='u-typography-h3 mb-5'>{{ data.perks.title }}</h2>
      <div class='row mb-5'>
        {% for perk in data.perks.perks %}
          <div class='col-12 col-sm-4'>
            <h3 class='text--primary mb-3 u-typography-h5'>{{ perk.label }}</h3>
            <p>{{ perk.body }}</p>
          </div>
        {% endfor %}
      </div>

      <div class='row align-items-center justify-content-center'>
        <a href="{{ data.perks.cta.url }}" class="c-button primary sharp-edge mob-cta">{{ data.perks.cta.label }}</a>
      </div>
    </div>

    <div id='block-2' class='c-selling-with-catawiki u-wrapper spacer'>
      <h2 class='u-typography-h3 mb-5'>{{ data.sellingWithCatawiki.title }}</h2>

      {% call carousel({
        id: 'selling-with-catawiki',
        classes: 'selling-with-catawiki__carousel has-controls',
        slidesMobile: 1,
        controls: true
      }) %}

        {% for item in data.sellingWithCatawiki.items %}

          <div class='selling-with-catawiki__item d-flex'>
            <div class='selling-with-catawiki__quote-container quote-block__container d-flex flex-column flex-space-between'>
              <div class='selling-with-catawiki__quote-text quote-block__text'>
                “{{ item.quote }}”
              </div>
              <div class='selling-with-catawiki__quote-author'>
                <div class='selling-with-catawiki__author-name'>{{ item.author.name }}</div>
                <div class='selling-with-catawiki__author-description u-color-mid-gray'>{{ item.author.description }}</div>
                <div class='selling-with-catawiki__author-profile-link text--primary mt-4'>
                  <a href='{{ item.author.profile.url }}' class='top-auction-results__expert-profile-link text--primary'>{{ item.author.profile.label }} {% svg 'icons/chevron-right.svg' %}</a>
                </div>
              </div>
            </div>

            <div class='selling-with-catawiki__video-container'>
              <div class='selling-with-catawiki__video'>
                <iframe width="560" height="315" src="{{ item.videoUrl }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>
          </div>

        {% endfor %}

      {% endcall %}

    </div>

    <div id='block-3' class="c-how-to spacer">
      <div class='u-wrapper'>
        <h2 class="u-typography-h3 mb-5 u-color-title-text">{{ data.howTo.title }}</h2>

        <div class="row flex-column flex-sm-row flex-wrap no-negative-mobile-margins">
          {% for item in data.howTo.items %}
            <div class="col col-sm-4 mb-5 help">
              <h4 class="u-typography-h4 u-margin-b-small u-color-primary u-position-relative">{{ item.title }}</h4>
              <p class="help__text u-typography-body u-margin-b-small u-position-relative">{{ item.body | safe }}</p>
            </div>
          {% endfor %}
        </div>

        <div class='row align-items-center justify-content-center spacer'>
          <a href="{{ data.howTo.cta.url }}" class="c-button primary sharp-edge mob-cta">{{ data.howTo.cta.label }}</a>
        </div>
      </div>

      <div class='expert-block d-flex flex-wrap flex-md-nowrap'>
        <div class='expert-block__banner d-flex u-flex-end'>
          <img src='{{ data.expertBlock.bannerImageUrl }}' alt=''>
        </div>
        <div class='expert-block__avatar' style='background-image: url({{ data.expertBlock.expertImageUrl }}); background-repeat: no-repeat; background-size: cover; background-position: center center;'>
          <div style='padding-bottom: 100%;'></div>
        </div>
        <div class='expert-block__info d-flex flex-column align-items-center justify-content-center'>
          <p>{{ data.expertBlock.expert.name }}</p>
          <p class='u-color-mid-gray'>{{ data.expertBlock.expert.expertIn }}</p>
        </div>
      </div>
    </div>

    <div id='block-6' class='c-cost u-wrapper spacer'>
      <h2 class='u-typography-h3 mb-4'>{{ data.cost.title }}</h2>

      <div class='row'>
        <div class='col-12 col-md-8'>
          {{ data.cost.description | safe }}
        </div>
      </div>

      <div class='d-flex pt-2 mt-4 d-flex flex-column'>
        <div class='cost__disclaimer cost__disclaimer--top'>
          {{ data.cost.disclaimer.top }}
        </div>
        <div class='d-flex align-items-sm-center py-4 my-2 d-flex flex-column flex-sm-row'>
          <div class='cost__calculator d-flex align-items-sm-end flex-column flex-sm-row' js-hook-commission-calculator>
            <span class='cost__calculator-label align-self-start align-self-sm-center'>{{ data.cost.calculator.commission.label }}</span>

            <div class='cost__sales-price input-field' js-hook-commission-calculator-sale-price>
              <label for='sales_price'>{{ data.cost.calculator.commission.sales.label }}</label>
              <div class="be-lot-bid-input__input-block">
                <div class="be-lot-bid-input__currency-symbol u-font-size-s">
                  <span>{{ data.cost.calculator.currency }}</span>
                </div>
                <div>
                  <input class="c-input be-lot-bid-input__input sharp-edge" id="sales_price" type="text" inputmode="numeric" pattern="[0-9]*">
                </div>
              </div>
            </div>

            <div class='cost__commission-fee input-field input-field--disabled' js-hook-commission-calculator-commission-fee>
              <label for='commission_fee'>{{ data.cost.calculator.commission.fee.label }}</label>
              <div class="be-lot-bid-input__input-block">
                <div class="be-lot-bid-input__currency-symbol u-font-size-s">
                  <span>{{ data.cost.calculator.currency }}</span>
                </div>
                <div>
                  <input class="c-input be-lot-bid-input__input sharp-edge" id="commission_fee" type="text" disabled inputmode="numeric" pattern="[0-9]*">
                </div>
              </div>
            </div>

            <div js-hook-commission-calculator-revenue>
              <div class='cost__revenue d-flex align-items-sm-center flex-column flex-sm-row'>
                <div class='arrow-right__container'>
                  <img src='https://cw-app-marketing.s3.amazonaws.com/assets/marketing/marketing/landing-pages/mobility/arrow-right.png' alt=''>
                </div>

                <div class='input-field input-field--disabled input-field--highlighted d-flex align-items-center'>
                  <label for='revenue'>{{ data.cost.calculator.commission.revenue.label }}</label>
                  <div class="be-lot-bid-input__input-block">
                    <div class="be-lot-bid-input__currency-symbol u-font-size-s">
                      <span>{{ data.cost.calculator.currency }}</span>
                    </div>
                    <div>
                      <input class="c-input be-lot-bid-input__input sharp-edge" id='revenue' type="text" disabled inputmode="numeric" pattern="[0-9]*">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class='align-self-center u-hide' js-hook-commission-contact>
              <a href='mailto:{{ data.cost.contact.email }}' class='text--primary'>{{ data.cost.contact.label }}</a>
            </div>
          </div>
        </div>
        <div class='cost__disclaimer cost__disclaimer--bottom'>
          {{ data.cost.disclaimer.bottom }}
        </div>
        <div class='cost__contact'>
          <div class='cost__contact-label'>{{ data.cost.contact.label }}</div>
          <div class='cost__contact-email'>
            <a href='mailto:{{ data.cost.contact.email }}' class='text--primary'>{{ data.cost.contact.email }}</a>
          </div>
        </div>
      </div>
    </div>

    <div id='block-8' class='c-top-auction-results u-wrapper spacer mt-4'>
      <h2 class='u-typography-h3'>{{ data.topAuctionResults.title }}</h2>
      <p>{{ data.topAuctionResults.shortDescription }}</p>


      {% call carousel({
        classes: 'top-auction-results__carousel mt-4',
        slidesMobile: 1,
        slidesTabletPortrait: 2,
        slidesTabletLandscape: 4,
        controls: true,
        gutter: '0'
      }) %}
        {% for item in data.topAuctionResults.items %}
          <div class="top-auction-results__carousel-item carousel__item auctions">
            <article class="c-auction-card">
              <a
                href="{{ item.url }}"
                class="c-auction-card__link"
              >
                <div class="c-auction-card__images">
                  <div class="c-auction-card__images-spacer"></div>
                  <div class="c-auction-card__main-image">
                    <div
                      class="c-auction-card__image-element"
                      style="
                background-image: url({{ item.image.url }});
              "
                    ></div>
                  </div>
                </div>
                <div class="c-auction-card__text"><h6 class="u-truncate-2-lines u-typography-h6 c-auction-card__heading">{{ item.title }}</h6>{#<p class="u-typography-label-s u-typography-uppercase c-auction-card__subtitle mt-1">{{ item.lotLabel }} {{ item.lotId }}</p>#}<div class='d-flex flex-wrap align-items-center mt-2'><p class="u-typography-label-s u-typography-uppercase c-auction-card__subtitle mt-0">{{ item.soldLabel }}</p>&nbsp;&nbsp;<p>{{ item.price }}</p></div></div>
              </a>
              <div class='top-auction-results__quote-container mt-5'>
                <div class='top-auction-results__quote-block-container quote-block__container'>
                  <div class='top-auction-results__quote quote-block__text'>{{ item.quote.text }}</div>
                  <div class='top-auction-results__expert-details mt-4'>
                    <div class='top-auction-results__expert-name'>{{ item.quote.author.name }}</div>
                    <div class='top-auction-results__expert-country-profile d-flex flex-wrap flex-space-between'>
                      <span class='top-auction-results__expert-country'>{{ item.quote.author.country }}</span>
                      <a href='{{ item.quote.author.profile.url }}' class='top-auction-results__expert-profile-link text--primary'>{{ item.quote.author.profile.label }} {% svg 'icons/chevron-right.svg' %}</a>
                    </div>
                  </div>
                </div>
              </div>

            </article>
          </div>

        {% endfor %}
      {% endcall %}
    </div>

    <div id='block7' class='c-tips-and-resources u-wrapper spacer'>
      <h2 class='u-typography-h3'>{{ data.tipsAndResources.title }}</h2>
      <ul class='c-list disc mt-3'>
        {% for item in data.tipsAndResources.items %}
          <li>
            {% if (item.url !== '#') and (item.url !== '') %}
              <a href="{{ item.url }}" class='text--primary' target='_blank'>{{ item.title }}</a>
            {% else %}
              {{ item.title }}
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>

    <div id='block-5' class='c-get-a-quote spacer bg-accent-light py-5'>
      <div class='u-wrapper d-flex flex-column flex-sm-row'>
        <div>
          <h2 class='u-typography-h3 mb-4'>{{ data.getAQuote.title }}</h2>
          <div>{{ data.getAQuote.body | safe }}</div>
        </div>

        <div class="get-a-quote__cta-container d-flex align-items-center mt-5 flex-grow-0 u-typography-no-wrap">
          <div class="text-center">
            <a href='mailto:{{ data.getAQuote.contact.email }}' class="c-button primary sharp-edge mob-cta">{{ data.getAQuote.contact.label }}</a>
          </div>
        </div>
      </div>
    </div>

    <div id='block-4' class='u-wrapper spacer'>
      <h2 class='u-typography-h3 mb-4'>{{ data.faq.title }}</h2>

      {% import 'accordion.html' as accordion %}

      {% call accordion.default() %}

        {% for faq in data.faq.items %}

          {% call accordion.item({
            "id" : "faq-" + loop.index0,
            "title" : faq.label,
            "open": faq.open
          }) %}

            {{ faq.body | safe }}

          {% endcall %}

        {% endfor %}

      {% endcall %}
    </div>

    <div class="u-wrapper">
      <div class="be-app-download-banner__wrapper js-partnerships-mobileapps">
        <div class="be-app-download-banner">
          <div class="be-app-download-banner__text-container">
            <h2 class="be-app-download-banner__header">
              Download de Catawiki-app
            </h2>
            <h3 class="be-app-download-banner__subheader">
              en ontdek altijd en overal bijzondere objecten
            </h3>
            <p class="be-app-download-banner__links">
              <a title="Download our app on the App Store" href="https://apps.apple.com/us/app/catawiki-online-auctions/id926272969"><img alt="Download our app on the App Store" data-src="https://cdn.catawiki.net/assets/buyer/ui/v2/homepage/mobile/appstore-en-a598f038a500451332fba37c0309efc599ac1254d7d4167840047e5fa7d4fe99.svg" class="img-lazyload loaded" src="https://cdn.catawiki.net/assets/buyer/ui/v2/homepage/mobile/appstore-en-a598f038a500451332fba37c0309efc599ac1254d7d4167840047e5fa7d4fe99.svg" data-was-processed="true"></a>
              <a title="Download our app from the Google Play Store" href="https://play.google.com/store/apps/details?id=com.catawiki2&hl=en"><img alt="Download our app from the Google Play Store" data-src="https://cdn.catawiki.net/assets/buyer/ui/v2/homepage/mobile/googleplay-en-791346334d8111665ed456fc08ca7ff60bde40b302a9e4bfb140aeb4acd35045.svg" class="img-lazyload loaded" src="https://cdn.catawiki.net/assets/buyer/ui/v2/homepage/mobile/googleplay-en-791346334d8111665ed456fc08ca7ff60bde40b302a9e4bfb140aeb4acd35045.svg" data-was-processed="true"></a>
            </p>
          </div>
          <picture class="be-app-download-banner__images">
            <source media="(min-width: 996px)" srcset="https://cw-app-marketing.s3.amazonaws.com/assets/landing-pages/landing-pages/no-rp-day-2021/download-app.jpg">
            <source media="(max-width: 995px)" srcset="https://cw-app-marketing.s3.amazonaws.com/assets/landing-pages/landing-pages/no-rp-day-2021/download-app.jpg">
            <img src="https://cw-app-marketing.s3.amazonaws.com/assets/landing-pages/landing-pages/no-rp-day-2021/download-app.jpg" class="loading" data-was-processed="true">
          </picture>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
