// =========================================================================
// Browser target mixins
// =========================================================================

@mixin ie-only {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      @content;
  }
}

@mixin edge-only {
  @supports (-ms-ime-align: auto) {
      @content;
  }
}
