ul,
li {
  list-style: none;
}

.u-flex-start {
  justify-content: flex-start;
}

.u-flex-end {
  justify-content: flex-end;
}

.u-padding-top--5 {
  padding-top: 5rem;
}

.u-padding-bottom--5 {
  padding-bottom: 5rem;
}

.u-color-mid-gray {
  color: #919397
}

.u-typography-uppercase {
  text-transform: uppercase;
}

.u-overflow-hidden {
  overflow: hidden;
}

.no-negative-mobile-margins {
  @media screen and (max-width: 767px) {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
}

.u-truncate-2-lines {
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.u-typography-h6 {
  font-family: "basisGrotesque", sans-serif;
  font-weight: 400;
  font-size: 1rem;

  @media only screen and (min-width: 768px) and (max-width: 1311px) {
    font-family: "basisGrotesque", sans-serif;
    font-weight: 400;
    font-size: 1rem;
  }
}

.u-typography-h7 {
  font-family: "basisGrotesque", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;

  @media only screen and (min-width: 768px) and (max-width: 1311px) {
    font-family: "basisGrotesque", sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
  }
}

.u-typography-label-s {
  font-family: "basisGrotesqueMono", monospace;
  font-weight: 400;
  font-size: 0.625rem;
  letter-spacing: 0.05625rem;

  @media only screen and (min-width: 768px) and (max-width: 1311px) {
    font-family: "basisGrotesqueMono", monospace;
    font-weight: 400;
    font-size: 0.625rem;
    letter-spacing: 0.05625rem;
  }
}

.flex-space-between {
  justify-content: space-between;
}

.flex-space-around {
  justify-content: space-around;
}

.u-position-relative {
  position: relative !important;
}

.u-hide {
  display: none !important; // sass-lint:disable-line no-important
}

.text--primary {
  color: #0033ff;
}

.arrow-right__container {
  width: 49px;
  height: 17px;
  position: relative;
  margin: 0 20px;
  align-self: center;

  img {
    max-width: 100%;
  }
}

.arrow-right__long-line {
  width: 49px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 2px;
  background-color: #0033FF;
}

.arrow-right__short-line {
  height: 2px;
  background-color: #0033FF;
  top: 50%;
  position: absolute;
  width: 16px;
  right: 0;

  &--bottom {
    transform: translateY(-50%) rotate(-45deg);
    transform-origin: right top;
  }

  &--top {
    transform: translateY(-50%) rotate(45deg);
    transform-origin: right top;
    margin-right: -2px;
  }
}

.c-button {
  &.sharp-edge {
    &.mob-cta {
      font-size: inherit;
      padding: 1.25rem 2.25rem;
    }

    &.ghost {
      background-color: #fff;
      border: 1px solid #D2D9E1;
      color: #000;

      &:hover {
        filter: none;
        border-color: #62666A
      }
    }
  }
}

.c-input {
  font-size: 0.875rem;
  line-height: 1.1428571429;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  background-color: #f0f1f5;
  border-radius: 2.5rem;
  border: 2px solid rgba(34,34,34,0.32);
  color: #000;
  min-height: 52px;
  padding: 0.4375rem 1.25rem;
  width: calc(100% + 0.5rem);
  margin-left: -0.25rem;

  &.sharp-edge {
    background-color: #f0f1f5;
    border-color: #f0f1f5;
    border-radius: 0;
    color: #000;
    height: auto;
    padding: 0.8125rem 1rem;
    width: calc(100% + 0.5rem);
    margin-left: -0.25rem;
    font-family: "basisGrotesque", sans-serif;
    font-weight: 400;
    font-size: 0.875rem;

    @media only screen and (min-width: 1312px) {
      font-family: "basisGrotesque", sans-serif;
      font-weight: 400;
      font-size: 0.9375rem;
    }
  }

  .input-field--highlighted & {
    border-color: #0033FF;
    border-width: 2px;
  }
}

.landingpage {
  .c-carousel {
    .c-scrollable__item {
      width: unset;
      max-width: unset;
    }

    .carousel__item {
      padding: 0 .75rem;

      @media screen and (max-width: 767px) {
        padding: 0 .25rem;
      }
    }

    .c-lot-card--default {
      .c-lot-card__image {
        padding-top: 56.25%;
      }
    }

    &.top-auction-results__carousel {
      .tns-ovh {
        margin-right: -.75rem;
        margin-left: -.75rem;
      }
    }
  }


  .carousel__control-button {
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0.25rem 0.5rem 0 rgba(34, 34, 34, 0.15);
    border: 0;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 0;



    @media screen and (max-width: 768px) {
      html:not(.is-touch) & {
        display: block;
      }
    }

    @media screen and (min-width: 996px) {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &--prev {
      left: -2.5rem;
      transform: translate3d(50%, -50%, 0);
    }

    &--next {
      right: -2.5rem;
      transform: translate3d(-50%, -50%, 0);

      &::before {
        transform: scaleX(-1);
      }
    }

    &::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-image: url('https://cw-app-marketing.s3.amazonaws.com/assets/landing-pages/mobility-2021/chevron-left.svg');
      background-position: center center;
      background-repeat: no-repeat;
    }

    &:disabled {
      display: none;
    }
  }

  .visual {
    &.visual--reverse {
      &::after {
        right: 100%;
        left: auto;
        margin-left: unset;
        margin-right: -25rem;
      }
    }
  }
}

.quote__expert-avatar-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 80px;
}

.bg-accent-light {
  background-color: #F0F1F5;

  .help {
    &::before {
      color: #fff;
    }
  }
}

.visual {

  .visual__quote-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    //transform: scale(0.985, 0.94);
    transform: rotateX(-90deg) scale(1);
    perspective: 1000px;
    transform-origin: center bottom;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 300ms ease-in-out;
    transition-property: opacity, visibility, transform;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .visual__quote {
      width: 76.5rem;
      padding: 20px;
    }
  }

  &.visual--reverse {
    .visual__quote-container {
      justify-content: flex-start;
    }
  }

  &:hover {
    .visual__quote-container {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
      transform: rotate(0deg) scale(1);
    }
  }
}

.intro__title {
  @media screen and (min-width: 992px) {
    font-size: 4rem !important;
  }
}

.intro__subtitle {
  font-size: 2rem !important;
}

.intro__anchor-link {
  margin-right: 0.4rem;
  margin-left: 0.4rem;
}

.intro__banners {
  //display: grid;
  //grid-template-columns: 120px 1fr;
  //grid-template-rows: 120px;
  //
  //@media (min-width: 992px) {
  //  grid-template-columns: 150px 1fr;
  //  grid-template-rows: 150px;
  //}
  //
  //@media (min-width: 1312px) {
  //  grid-template-columns: 205px 1fr;
  //  grid-template-rows: 205px;
  //}

  img {
    max-width: 100%;
  }
}

.intro__square-banner-image {
  height: 120px;
  background-size: cover;

  @media (min-width: 992px) {
    height: 150px;
  }

  @media (min-width: 1312px) {
    height: 205px;
  }
}

.intro__big-banner-image {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  background-position: right center;
}

.selling-with-catawiki__quote-text {
  font-size: 23px;
}

.selling-with-catawiki__video-container {
  flex: 1;

  @media screen and (min-width: 768px) and (max-width: 991px) {
    max-width: 50%;
  }
}

.selling-with-catawiki__video {
  padding-bottom: 56.25%;
  position: relative;

  video,
  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.selling-with-catawiki__item {
  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}

.quote-block__container {
  padding-left: 60px;
  position: relative;

  &::after {
    content: '“';
    top: 0;
    left: 0;
    position: absolute;
    text-align: center;
    color: #03f;
    font-size: 120px;
    line-height: 0.7;
    font-family: 'freightBig', serif;
  }

  @media only screen and (max-width: 1311px) {
    padding-left: 30px;

    &::after {
      font-size: 80px;
    }
  }

  @media only screen and (max-width: 767px)  {
    padding-left: 15px;

    &::after {
      font-size: 40px;
    }
  }
}

.quote-block__text {
  max-height: calc(1.4705882353em * 8);
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  margin-top: 5px;
  font-family: 'freightBig', serif;
  font-size: 18px;

  @media screen and (min-width: 992px) {
    font-size: 19px;
  }
}

.selling-with-catawiki__quote-container {
  padding-right: 90px;
  flex: 0 0 33.33%;

  @media screen and (max-width: 991px) {
    flex: 0 0 50%;
    padding-right: 30px;
    padding-bottom: 60px;
  }

  @media screen and (max-width: 767px) {
    padding-bottom: 30px;
  }
}

.selling-with-catawiki__author-name {
  font-size: 23px;
}

.selling-with-catawiki__author-profile-link {
  svg {
    fill: currentColor;
    height: 9px;
    margin-left: 5px;
  }
}

.expert-block {
  width: 100%;

  @media screen and (min-width: 76.5rem) {
    width: calc(50vw + 76.5rem / 2);
  }

  @media (min-width: 992px) {
    justify-content: flex-end;
  }

  @media screen and (min-width: 1920px) {
    width: calc((1920px / 4) * 2 + 76.5rem / 2);
  }
}

.expert-block__banner {
  > img {

    @media screen and (min-width: 992px) {
      height: 200px;
    }

    @media screen and (min-width: 1312px) {
      height: 288px;
    }
  }

  @media screen and (max-width: 991px) {
    flex: 1 0 100%;
    max-width: 100%;
    background-image: none !important;

    > img {
      max-width: 100%;
    }
  }
}

.expert-block__avatar {
  width: 288px;
  flex: 0 0 288px;

  @media screen and (min-width: 992px) {
    width: 200px;
    flex: 0 0 200px;
  }

  @media screen and (min-width: 1312px) {
    width: 288px;
    flex: 0 0 288px;
  }

  @media screen and (max-width: 639px) {
    flex: 1 0 50%;
    width: 50%;
  }
}

.expert-block__info {
  background-color: #F0F1F5;
  flex: 1;

  @media screen and (min-width: 992px) {
    width: 200px;
    flex: 0 0 200px;
  }

  @media screen and (min-width: 1312px) {
    width: 288px;
    flex: 0 0 288px;
  }


  @media screen and (max-width: 639px) {
    flex: 1 0 50%;
    max-width: 50%;
  }
}

.be-lot-bid-input__input-block {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-right: 10px;
  margin-left: 5px;
}

.be-lot-bid-input__currency-symbol {
  position: absolute;
  height: 32px;
  left: 5px;
  top: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

  .input-field--disabled:not(.input-field--highlighted) & {
    color: #727272;
  }

  .input-field--highlighted & {
    color: #0033ff;
  }
}

.be-lot-bid-input__input {
  &.c-input.sharp-edge {
    padding-left: 2rem;
  }
}

.cost__calculator {
  min-height: 52px;

  .input-field {
    position: relative;

    @media screen and (max-width: 767px) {
      margin-top: 30px;
      margin-bottom: 15px;
    }

    label {
      position: absolute;
      bottom: 100%;
    }

    input {
      caret-color: #0033FF;
      padding-top: 0;
      padding-bottom: 0;
      line-height: 52px;
    }

    &.input-field--highlighted {
      label {
        color: #0033FF;
      }
    }
  }
}

.top-auction-results__carousel {
  .tns-carousel {
    display: flex;
  }
}

.top-auction-results__carousel-item {
  height: 100%;

  .c-auction-card {
    height: 100%;
    border: 1px solid #D2D9E1;
  }

  .c-auction-card__text {
    padding: 10px 30px 0;
  }
}

.top-auction-results__quote-container {
  padding: 30px;

  @media only screen and (max-width: 1311px) {
    padding: 20px;
  }

  @media only screen and (max-width: 767px)  {
    padding: 10px;
  }
}

.top-auction-results__quote-block-container {
  &::before {
    content: '';
    clear: both;
    display: table;
    width: 100%;
  }
}

.top-auction-results__expert-name {
  font-size: 17px;
  font-family: 'basisGrotesque', sans-serif;
}

.top-auction-results__expert-country {
  font-size: 15px;
  color: #919397;
}

.top-auction-results__expert-profile-link {
  font-size: 15px;

  svg {
    fill: currentColor;
    height: 8px;
  }
}

.cost__submission-guidelines {
  min-height: 52px;
  padding-right: 20px;
  margin-right: 20px;
  position: relative;

  &::after {
    content: '';
    min-height: 52px;
    height: 100%;
    width: 1px;
    background-color: #0033ff;
    right: 0;
    top: 0;
    position: absolute;

  }

  @media screen and (max-width: 767px) {
    padding-right: 0;
    margin-right: 0;
    padding-bottom: 20px;
    margin-bottom: 20px;
    flex: 1 0 100%;
    max-width: 100%;

    &::after {
      min-height: unset;
      height: 1px;
      width: 100%;
      top: auto;
      bottom: 0;
    }
  }
}

.cost__calculator-label {
  margin-right: 30px;
  flex: 1;
}

.cost__revenue {
  @media screen and (max-width: 767px) {
    .arrow-right__container {
      height: 49px;
      width: 17px;
      margin: 0;

      > img {
        transform: translate3d(-50%, -50%, 0) rotate(90deg) scale(2.5);
        width: 100%;
        transform-origin: 50% 50%;
        position: absolute;
        top: 50%;
        left: 50%;
      }
    }
  }
}

.get-a-quote__cta-container {
  @media screen and (min-width: 768px) {
    padding-left: 40px;
    margin-left: 40px;
    border-left: 2px solid #0033FF;
  }

  @media screen and (min-width: 992px) {
    padding-left: 80px;
    margin-left: 80px;
  }


}
