
<!DOCTYPE html>
<html lang="nl" dir="ltr" class="u-debug_page_">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <meta name="author" content="Tam Tam">
    <meta name="description" content="This is a debug page">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="disabled-adaptations" content="watch">

    <title>Debug page</title>

    <!-- Style sheets -->
    <link rel="stylesheet" href="/assets/css/dev.css"/>
    <!-- Style sheets -->
    {% if project.debug %}
        <link rel="stylesheet" href="/assets/css/main.css"/>
    {% elseif project.criticalCSS %}
        <script>!function(n){"use strict";n.loadCSS||(n.loadCSS=function(){});var o=loadCSS.relpreload={};if(o.support=function(){var e;try{e=n.document.createElement("link").relList.supports("preload")}catch(t){e=!1}return function(){return e}}(),o.bindMediaToggle=function(t){var e=t.media||"all";function a(){t.media=e}t.addEventListener?t.addEventListener("load",a):t.attachEvent&&t.attachEvent("onload",a),setTimeout(function(){t.rel="stylesheet",t.media="only x"}),setTimeout(a,3e3)},o.poly=function(){if(!o.support())for(var t=n.document.getElementsByTagName("link"),e=0;e<t.length;e++){var a=t[e];"preload"!==a.rel||"style"!==a.getAttribute("as")||a.getAttribute("data-loadcss")||(a.setAttribute("data-loadcss",!0),o.bindMediaToggle(a))}},!o.support()){o.poly();var t=n.setInterval(o.poly,500);n.addEventListener?n.addEventListener("load",function(){o.poly(),n.clearInterval(t)}):n.attachEvent&&n.attachEvent("onload",function(){o.poly(),n.clearInterval(t)})}"undefined"!=typeof exports?exports.loadCSS=loadCSS:n.loadCSS=loadCSS}("undefined"!=typeof global?global:this);</script>
        <style>{{ project.criticalCSS|safe }}</style>
        <noscript><link rel="stylesheet" href="/assets/css/main.css"/></noscript>
    {% else %}
        <link rel="stylesheet" href="/assets/css/main.css"/>
    {% endif %}

    {% include "generic/preloads.html" %}

    {% include "generic/environment.html" %}

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/favicons/manifest.json">
    <link rel="mask-icon" href="/assets/images/favicons/safari-pinned-tab.svg">
    <link rel="shortcut icon" href="/assets/images/favicons/favicon.ico">
    <meta name="msapplication-config" content="/assets/images/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

</head>


<body>


    <main role="main">

        {% block content %}

            <!-- content will be injected in this block -->

        {% endblock %}

    </main>

    <script>
        // Nomodule fix for Safari 10
        !function(){var e=document,t=e.createElement("script");if(!("noModule"in t)&&"onbeforeload"in t){var n=!1;e.addEventListener("beforeload",function(e){if(e.target===t)n=!0;else if(!e.target.hasAttribute("nomodule")||!n)return;e.preventDefault()},!0),t.type="module",t.src=".",e.head.appendChild(t),t.remove()}}();
    </script>

    {% if project.debug %}
        <script async src="/assets/js/main.js"></script>
    {% else %}
        <script type="module" async src="/assets/js/main-es.js"></script>
        <script nomodule async src="/assets/js/main.js"></script>
    {% endif %}


</body>

<!-- name: {{ project.name }}, version: {{ project.version }} -->
</html>
