//sass-lint:disable no-important

.c-carousel {
  position: relative;
  width: 100%;
}

.carousel__control-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  &--prev {
    left: 0;
  }

  &--next {
    right: 0;
  }
}
